@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes slide-left {
   from {
      transform: translateX(0%);
   }

   to {
      transform: translateX(-33.333%);
   }
}

.slide-box {
   width: 300%;
}

.slide-left {
   animation-name: slide-left;
   animation-duration: 2s;
   animation-timing-function: ease-out;
   animation-fill-mode: forwards;
}

.post-slide {
   transform: translateX(-33%);
}

.no-slide {
   transform: translateX(0%);
}

@media (min-width: 1024px) {
   .slide-box {
      width: 150%;
   }
}